// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: black;
	color: #56d627;
	font-size: 24px;
	font-family: "Courier New", Courier, Monaco, monospace;
}
